<h1>Listing messages!</h1>

<p>All messages are encrypted.
  Press on specific message for dectrypting.</p>

<form method="GET" action="/messages/new">
  <input type='submit' value='Add message'>
</form>

<ul>
  <% @messages.each do |message| %>
      <li>
        <h2><a href="/messages/<%= message.id %>"><%= message.message %></a>
        <form onsubmit="return confirm('Are you sure you want to delete this message?')" method="POST" action="/messages/<%= message.id %>">
          <button type="submit">Delete This Message Immediatly </button>
        </form>
        </h2>
      </li>
  <% end %>
</ul>
