<h1>Here you can add a New Message</h1>
<form action="/messages" method="post">
  <label for="message">Message:</label><br />
  <textarea id="message" name="message[message]" rows="5"><%= @message.message %></textarea>
  <br />

  <input type="submit" value="Create Message" />
</form>