<h1>Message: </h1>
<p><%= @message %></p>
<!--<p>Destruction</p>-->
<!--<p><%= @destruction  %></p>-->

<form method="GET" action="/messages">
  <input type='submit' value='Back to all messages'>
</form>
